<div *ngIf="candidat" class="full-width">
    <h1>Détail du collaborateurs {{ candidat.name }} {{ candidat.firstname }}</h1>
    <app-detail-card [candidat]="candidat"> </app-detail-card>
    <a class="waves-effect waves-light btn red" (click)="goSupprCollab(candidat)"
      ><i class="material-icons left">delete</i>Supprimer</a
    >
    <a class="waves-effect waves-light btn" (click)="goToEditCollab()"
      ><i class="material-icons left">edit</i>Modifier</a
    >
    <a class="waves-effect waves-light btn" (click)="removeCollab()"
    ><i class="material-icons left">arrow_back</i>Départ</a
  >
  </div>