<header *ngIf="!hideHeader">
  <div>
    <i class="medium material-icons">account_circle</i>
    <ul>
      <div>
        <li>
          <a [routerLink]="['/candidat']" routerLinkActive="title-selected">Candidats</a>
        </li>
      </div>
      <div>
        <li>
          <a [routerLink]="['/collaborateurs']" routerLinkActive="title-selected">Collaborateurs</a>
        </li>
      </div>
      <li>
        <a (click)="onLogout()">Se déconnecter</a>
      </li>
    </ul>
  </div>
  <main></main>
</header>
