<div class="candidate-info">
  <div class="info-section">
    <p class="info-label">Numéro de téléphone du candidat:</p>
    <p class="info-value">
      {{ candidat.phone | customPhone }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Email du candidat:</p>
    <p class="info-value">
      {{ candidat.email }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Date de Naissance du candidat:</p>
    <p class="info-value">
      {{ candidat.isBorn | customDate }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Nationalité du candidat:</p>
    <p class="info-value">
      {{ candidat.nationality }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Ville actuel du candidat:</p>
    <p class="info-value">
      {{ candidat.city }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Experience du candidat:</p>
    <p class="info-value">
      {{ candidat.experience }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Technologie du candidat:</p>
    <p class="info-value">
      {{ candidat.technology }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Situation familial du candidat:</p>
    <p class="info-value">
      {{ candidat.family }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Les notes du candidat (si entretien fait):</p>
    <p class="info-value">
      {{ candidat.note }}
    </p>
  </div>
  <div class="info-section">
    <p class="info-label">Véhiculé :</p>
    <p class="info-value">
      <i *ngIf="candidat.moving === true" class="material-icons small  green-text text-darken-3">check</i>
      <i *ngIf="candidat.moving !== true" class="material-icons small red-text">clear</i>
    </p>
  </div>
</div>

<!-- réseau_check -->
<!-- check -->
