<!-- <div class="container">
    <h1>Sélectionnez une entreprise</h1>
    <div class="card-grid">
      <div class="card" *ngFor="let company of companies" (click)="GotoCompany(company)">
        <h2>{{ company.name }}</h2>
        <p>{{ company.description }}</p>
      </div>
    </div>
  </div> -->

  <div class="container">
    <h1>Sélectionnez une entreprise</h1>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large waves-effect waves-light"
    ><i class="material-icons" routerLink="/company/add">add</i>
  </a>
</div>
    <div class="card-grid">
      <div class="card" *ngFor="let company of companyList | async">
        <h2>{{ company.name }}</h2>
        <p>{{ company.description }}</p>
      </div>
    </div>
  </div>