<div class="max-width">
    <form [formGroup]="companyForm">
      <div class="card-panel">
        <div class="row" *ngIf="!company.name">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">account_box</i>
            <label for="name">Nom :</label>
            <input formControlName="name" type="text" id="name" name="name" />
          </div>

          <div class="row">
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">account_box</i>
              <label for="description">Description :</label>
              <input formControlName="description" type="text" id="description" name="description" />
            </div>
          </div>  
          
  
          <div class="divider"></div>
          <div class="section center">
            <button
              type="submit"
              (click)="onSubmitForm()"
              [disabled]="companyForm.invalid"
              class="waves-effect waves-light btn"
            >
              Valider
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  