<div class="max-width">
  <form [formGroup]="candidatForm">
    <div class="card-panel">
      <div class="row" *ngIf="!candidat.name">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">account_box</i>
          <label for="name">Nom :</label>
          <input formControlName="name" type="text" id="name" name="name" />
        </div>
        <div class="input-field col s12 m6">
          <label for="firstname">Prénom : </label>
          <input
            formControlName="firstname"
            type="text"
            id="firstname"
            name="firstname"
          />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">alternate_email</i>
          <label for="email" *ngIf="!candidat.email">Email :</label>
          <input formControlName="email" type="text" id="email" name="email" />
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">phone</i>
          <label for="phone" *ngIf="!candidat.phone"
            >Numéro de téléphone :</label
          >
          <input formControlName="phone" type="text" id="phone" name="phone" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">location_city</i>
          <label for="city" *ngIf="!candidat.city">Ville:</label>
          <input formControlName="city" type="text" id="city" name="city" />
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">flag</i>
          <label for="nationality" *ngIf="!candidat.nationality"
            >Nationalité :</label
          >
          <input
            formControlName="nationality"
            type="text"
            id="nationality"
            name="nationality"
          />
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">work</i>
          <select name="statut" id="statut" formControlName="statut">
            <option value="Recherche d'emploi">Recherche d'emploi</option>
            <option value="Employé">Employé</option>
          </select>
          <label for="statut" *ngIf="!candidat.statut">Statut :</label>
        </div>

        <div class="input-field col s12 m6">
          <i class="material-icons prefix">directions_car</i>
          <label for="moving" *ngIf="!candidat.moving">Véhiculé : </label>
          <div class="switch col offset-m2">
            <label class="deplacement">
              Non
              <input
                type="checkbox"
                name="moving"
                id="moving"
                formControlName="moving"
              />
              <span class="lever"></span>
              Oui
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12" *ngIf="!candidat.isBorn">
          <i class="material-icons prefix">date_range</i>
          <label for="isBorn">Date de Naissance :</label>
          <input
            formControlName="isBorn"
            type="text"
            id="isBorn"
            placeholder="JJMMAAAA"
            name="isBorn"
          />
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">wc</i>
          <select multiple name="family" id="family" formControlName="family">
            <option value="Célibataire">Célibataire</option>
            <option value="Pacsé">Pacsé</option>
            <option value="Marié">Marié</option>
            <option value="Concubinage">Concubinage</option>
            <option value="Divorcé">Divorcé</option>
          </select>
          <label for="family" *ngIf="!candidat.family"
            >Situation familiale :</label
          >
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">insert_chart</i>
          <label for="experience" *ngIf="!candidat.experience"
            >Experience :</label
          >
          <input
            formControlName="experience"
            type="text"
            id="experience"
            name="experience"
          />
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">computer</i>
          <select
            multiple
            name="technology"
            id="technology"
            formControlName="technology"
          >
            <option value="Angular">Angular</option>
            <option value="Java">Java</option>
            <option value="JavaScript">JavaScript</option>
            <option value=".net">.net</option>
            <option value="PHP">PHP</option>
            <option value="React.js">React.js</option>
            <option value="Vue.js">Vue.js</option>
            <option value="Python">Python</option>
          </select>
          <label for="technology" *ngIf="!candidat.technology"
            >Technologies :</label
          >
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">more</i>
          <label for="note" *ngIf="!candidat.note">Note :</label>
          <textarea
            formControlName="note"
            type="text"
            id="note"
            class="materialize-textarea"
            name="note"
          ></textarea>
        </div>

        <div class="divider"></div>
        <div class="section center">
          <button
            type="submit"
            (click)="onSubmitForm()"
            [disabled]="candidatForm.invalid"
            class="waves-effect waves-light btn"
          >
            Valider
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
