/* Style général du formulaire pour écran d'ordinateur */
form {
    position: relative;
    left: 125px;

    /* Ajoutez ici d'autres styles spécifiques à votre formulaire pour écran d'ordinateur */

    /* Style spécifique pour tablette */
    @media only screen and (max-width: 768px) {
        left: 250px;
        top: initial; /* Réinitialise la propriété 'top' à sa valeur initiale pour tablette */

        /* Ajoutez ici d'autres styles spécifiques à votre formulaire pour tablette */
    }
}

