<app-search-list (searchInput)="onFilterChange($event)" [placeholder]="placeholder"></app-search-list>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light"
    ><i class="material-icons" routerLink="/candidat/add">add</i>
  </a>
</div>

<table class="striped">
  <thead>
    <tr>
      <th>Nom prénom</th>
      <th>Email</th>
      <th>Numéro de téléphone</th>
      <th>Nationalité</th>
      <th>Date de Naissance</th>
      <th>Technologie</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidat of collaborateurList | async">
      <ng-container *ngIf="matchFilter(candidat)">
        <td>{{ candidat.name | uppercase }} {{ candidat.firstname }}</td>
        <td>{{ candidat.email }}</td>
        <td>{{ candidat.phone | customPhone }}</td>
        <td>{{ candidat.nationality }}</td>
        <td>{{ candidat.isBorn | customDate }}</td>
        <td>{{ candidat.technology }}</td>
        <td>
          <i
            class="material-icons"
            style="cursor: pointer"
            (click)="goDetailCollab(candidat)"
          >
            more_horiz
          </i>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
