<i
  class="small material-icons"
  style="position: fixed; bottom: 25px; right: 25px; cursor: pointer"
  routerLink="/candidat/add"
>
  add_circle
</i>
<!--icone de add -->

<table class="striped">
  <thead>
    <tr>
      <th>Nom prénom</th>
      <th>Email</th>
      <th>Numéro de téléphone</th>
      <th>Nationalité</th>
      <th>Date de Naissance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let candidat of candidatList | async">
      <td>{{ candidat.name | uppercase }} {{ candidat.firstname }}</td>
      <td>{{ candidat.email }}</td>
      <td>{{ candidat.phone }}</td>
      <td>{{ candidat.nationality }}</td>
      <td>{{ candidat.isBorn | customDate}}</td>
      <td>
        <i
          class="material-icons"
          style="cursor: pointer"
          (click)="goToCandidat(candidat)"
        >
          more_horiz
        </i>
      </td>
    </tr>
  </tbody>
</table>
