.card-content {
    display: flex;
    justify-content: space-between;
  }
  
  .card-content span {
    margin: 0 15px;
    width: 20%;
}
 
  .card-content .info span:last-child {
    margin-right: 0; /* Aucune marge à droite pour le dernier élément */
  }
  