<div *ngIf="candidat" class="full-width">
  <h1>Détail du candidat {{ candidat.name }} {{ candidat.firstname }}</h1>
  <app-detail-card [candidat]="candidat"></app-detail-card>
  <a class="waves-effect waves-light btn red" (click)="goSupprCandidat(candidat)"
      ><i class="material-icons left">delete</i>Supprimer</a
    >
    <a class="waves-effect waves-light btn" (click)="goToEditCandidat()"
      ><i class="material-icons left">edit</i>Modifier</a
    >
    <a class="waves-effect waves-light btn" (click)="addCollab()"
    ><i class="material-icons left">arrow_forward</i>Recruter</a
  >
</div>